{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EstadoProductos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Estadoproductoid</th>
                <td>{{ entity.estadoproductoid }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Vigente</th>
                <td>{{ entity.vigente }}</td>
            </tr>
            <tr>
                <th>Eliminado</th>
                <td>{{ entity.eliminado }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('estadoproductos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('estadoproductos_edit', { 'id': entity.estadoproductoid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
